twitter-scraper/input/
locations/_reference/
wells/input/
asian-americans/data/raw/
generations/data/raw/
esri-rest-services/data/raw/
swarm/keys.py
youtube/creds.py
elon/data/raw/
trump-tweets/data/raw/
elon/credentials.json
*/credentials.json
geocoder/creds.py
census/creds.py
abortion/jupyter-integration-credentials.json
china/jupyter-integration-credentials.json
life-expectancy/jupyter-integration-credentials.json
*/jupyter-integration-credentials.json
russia/credentials.json
twitter/credentials.py
babynames/data/processed/
twitter/data/raw/nigger.csv
twitter/data/raw/
cnn/
trump-tweets/twarc.log
elon/twarc.log
personal/
personal
hey-dude/shoe_images/
dog/data/

git rm --cached .DS_Store

.ipynb_checkpoints

.DS_Store

dc/data/raw/
