twitter-scraper/input/
wells/input/
swarm/keys.py
youtube/creds.py
elon/credentials.json
*/credentials.json
geocoder/creds.py
census/creds.py
abortion/jupyter-integration-credentials.json
china/jupyter-integration-credentials.json
life-expectancy/jupyter-integration-credentials.json
*/jupyter-integration-credentials.json
russia/credentials.json
twitter/credentials.py

git rm --cached .DS_Store

.ipynb_checkpoints

.DS_Store

dc/data/raw/
