[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
lxml = "*"
html5lib = "*"
xlrd = "*"
nb-black = "*"
pandas = "*"
jupyter = "*"
openpyxl = "*"
jupyterlab = "*"
matplotlib = "*"
geopandas = "*"
altair = "*"
altair-latimes = "*"
altair-saver = "*"
selenium = "*"
pageviewapi = "*"

[requires]
python_version = "3.8"
