lxml
html5lib
xlrd
pandas
jupyter
openpyxl
jupyterlab
altair
altair-saver
pageviewapi
jenkspy
census-data-downloader
cython
geopandas
bs4
rtree
ipywidgets
ipympl
matplotlib
plotly
jupyter-black
boto3
