#subscribe, #searchETA, #two, #sidenav, #headImg, #fone {display:none;}
#header #dol_logo {float:left;}
#headText {font-weight:bold;}
#header #headText #phantomSpace{display:none;}
#headSeparator {clear:both; border-bottom:groove thin #000;}
#content #local {float:right; width: 15em; border:0.1em solid #000; margin:0.25em 0 0.25em 0.25em; padding:0.25em 0 0.5em 0.25em;}
#content #local ul {margin:0.8em;}
.lead {font-weight:bold;}
#fdate {border-top:groove thin #000; margin-top: 3em;}
#footer {text-align:center; font-size:90%;}
#logo {display:none;}
#statefed_content img{display:none;}
#find_content img{display:none;}
#fedreg_content img{display:none;}
#equal_opp_content img{display:none;}
#disability_content img {display:none;}