* {margin:0; padding:0;}
body {width:90em; font-size: 0.7em; font-family:Tahoma, Geneva, sans-serif; margin:0 auto 1em auto; color:#000; background-color:#B4B4B4;}
#container {overflow: hidden; float:left; background: #F4F4F4 url(../images/page_back.jpg) repeat-x; width:100%;}
#sidenav {float:left; width:14em;}
#sidenavdms {float:left; width:14em;}
#content {float:left; width:58.6em;}
#content {
	min-height:35em;
	height:auto !important;
	height:35em;

}
#content_app {float:left; width:100em;}
#content_app {
	min-height:35em;
	height:auto !important;
	height:35em;

}